!
! ~/.Xresources
!
!==============================================================
!
!   X R E S O U R C E S
!
! Global

! fg and bg might be overwritten by an imported colorscheme
! *background:              #151515
! *foreground:              rgb:80/77/77
! *foreground:              #807777
*saveLines:               1024

Xcursor.theme:            Neutral

!==============================================================
!
! X f t
!
Xft.lcdfilter:            lcddefault
Xft.hintstyle:            hintfull
Xft.autohint:             1
Xft.rh_prefer_bitmaps:    1
Xft.hinting:              1
Xft.antialias:            1
Xft.dpi:                  96
Xft.rgba:                 rgb

!==============================================================
!
! U R x v t
!
! URxvt*font:               xft:Pragmata:pixelsize=9
! URxvt*boldFont:           xft:Pragmata:pixelsize=9
! URxvt*font:               xft:Neep:pixelsize=9

URxvt*font:               xft:Pragmata:pixelsize=9
URxvt*letterSpace:        0.5

URxvt*buffered:           true
URxvt*padding:		  1

URxvt*cursorBlink:        false
URxvt*cursorUnderline:    false

URxvt*geometry:           80x15
URxvt*internalBorder:     3
URxvt*depth:              24

!==============================================================
!
! X t e r m
xterm*faceName:             xft:consolas:pixelsize=10
xterm.termName: 	    xterm-256color
xterm*scrollBar: 	    false
xterm*rightScrollBar: 	    true
xterm*loginshell:  	    true
xterm*cursorBlink: 	    true
xterm.borderLess: 	    true
xterm.cursorBlink: 	    true
xterm*colorUL: 		    yellow
xterm*colorBD: 	 	    white
xterm*eightBitInput: 	    false
xterm*altSendsEscape:       true
xterm*printAttributes: 	    2

!font and locale
xterm*locale: 		    true
xterm.utf8:     	    true
xterm*utf8Title: 	    true
xterm*fontMenu*fontdefault*Label: Default
xter*boldFont: 		    DejaVu Sans Mono:style=Bold:pixelsize=9
xterm*faceNameDoublesize:   consolas bitmap:pixelsize=9:antialias=True
xterm*xftAntialias:         true
xterm*cjkWidth:             false

!xterm*Background:           gray2
!xterm*Foreground:           snow
xterm*cursorColor:          LightBlue
xterm*pointerShape:         arrow
xterm*pointerColor:         blue
xterm*VT100.geometry:       80x15

XTerm*VT100.Translations:   #override \n\
Ctrl <KeyPress> V: insert-selection(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\
<BtnUp>: select-end(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\
Ctrl <KeyPress> P: print() \n

! URxvt*iconFile:            /home/crshd/.icons/kare/32x32/apps/terminal.png

URxvt*scrollBar:          false
URxvt*scrollBar_right:    true
URxvt*scrollstyle:        plain
URxvt*scrollColor:        #2873a2
URxvt*scrollWithBuffer:   false
URxvt*scrollTtyOutput:    true

URxvt*urgentOnBell:       true
!URxvt*visualBell:          true

URxvt*pointerBlank:       true

URxvt*termName:           rxvt-256color

! Tabs
! URxvt.tabbed.tabbar-fg:   8
! URxvt.tabbed.tabbar-bg:   0
! URxvt.tabbed.tab-fg:      0
! URxvt.tabbed.tab-bg:      4

! Perls stuff
URxvt.iso14755: 	  false
URxvt.perl-lib:           /usr/lib/urxvt/perl/
URxvt.perl-ext-common:    default,matcher
URxvt.perl-ext:           default
URxvt.urlLauncher:        /usr/bin/luakit
URxvt.matcher.button:     1
URxvt.keysym.C-C: 	  perl:clipboard:copy
URxvt.keysym.C-V: 	  perl:clipboard:paste
URxvt.keysym.C-A-V: 	  perl:clipboard:paste_escaped

!==============================================================
!
! C O L O R S
!
! # include ".config/xresources/railscast_colors"
# include ".config/xresources/colors"

! Fix urxvt 256 colors
# include ".config/xresources/urxvt_fix"
