/*
 * Edit this file and copy it as userChrome.css into your
 * profile-directory/chrome/
 */

/*
 * This file can be used to customize the look of Mozilla's user interface
 * You should consider using !important on rules which you want to
 * override default settings.
 */

/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */


/*
 * Some possible accessibility enhancements:
 */
/*
 * Make all the default font sizes 20 pt:
 *
 * * {
 *   font-size: 20pt !important
 * }
 */
/*
 * Make menu items in particular 15 pt instead of the default size:
 *
 * menupopup > * {
 *   font-size: 15pt !important
 * }
 */
/*
 * Give the Location (URL) Bar a fixed-width font
 *
 * #urlbar {
 *    font-family: monospace !important;
 * }
 */

/*
 * For more examples see http://www.mozilla.org/unix/customizing.html
 */

* {
    font-size: 8pt !important;
    font-weight: bold !important;
    font-family: "Ubuntu Mono" !important;
}

#urlbar {
    font-style: italic !important;
}

/*
 * hide favicon
 * */
#bookmarksBarContent .bookmark-item > .toolbarbutton-icon { visibility: collapse; }
#bookmarksBarContent .bookmark-item > .toolbarbutton-menu-dropmarker { display: inherit !important; }


#identity-icon-label {display:none!important;}

#identity-box.unknownIdentity, #page-proxy-favicon {display:none!important;}


